.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
**/doc/api/
**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json
